@tailwind base;
@tailwind components;
@tailwind utilities;

/* Inter Font */
body {
  font-family: 'Inter', sans-serif;
  background-color: #0f172a;
}

/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}

/* Scrollbar Styling (Professional Look) */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}